.section2Heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(263.24deg, #9130f4 21.05%, #4646f9 77.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section2Para {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #121139;
}

.callbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 47px;
  gap: 10px;
  border: 4px solid;
  border-image-source: linear-gradient(94.28deg, #812de2 0%, #3a49f9 100%);
  border-image-slice: 1;
  color: rgba(18, 17, 57, 1);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.callbtn:hover {
  color: black;
}

.comingSoonBtn {
  background-color: #d8961c;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: not-allowed;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.comingSoonBtn:hover {
  background-color: #d5006b;
  transform: scale(1.05);
}

.comingSoonBtn:active {
  background-color: #ff4081;
  transform: scale(0.95);
}

.comingSoonBtn:focus {
  outline: none;
}

.comingSoonBtn:before {
  content: "🚧";
  margin-right: 5px;
}

.comingSoonBtn:after {
  content: "Coming Soon!";
  font-weight: bold;
}

/* Add your existing CSS styles */

.popup {
  /* position: fixed; */
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closepopup {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add your other CSS styles */

.lsoon {
  font-size: 24px;
  color: #ff4081;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lsoon:before,
.lsoon:after {
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #ff4081;
  vertical-align: middle;
  margin: 0 10px;
}

.lsoon:before {
  margin-right: 20px;
}

.lsoon:after {
  margin-left: 20px;
}
