.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  /* backdrop-filter: blur(8px); */
}

.popup-inner {
  width: 80%;
  max-width: 500px;
  height: 84%;
  background: #121139;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 0px rgba(225, 211, 211, 0.75);
  position: relative;
}

.waitlist-input {
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: white;
  color: rgb(0, 0, 0);
  font-family: Poppins-Bold;
  font-size: 14px;
  outline: none;
}

.waitlist-input::placeholder {
  color: #121139;
}

.waitlist-btn {
  width: 100%;
  border: none;
  border-radius: 8px;
  border: 2px solid white;
  background-color: #121139;
  color: white;
  font-family: Poppins-Bold;
  font-size: 14px;
  margin-top: 16px;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
}

.waitlist-btn:hover {
  background-color: #6e1cd8;
}

.closepopup {
  position: absolute;
  top: 540px;
  left: 230px;
  background-color: transparent;
  border: none;
  color: rgb(236, 12, 12);
  font-family: Poppins-Bold;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.closepopup:hover {
  color: #5b5242;
}

@media screen and (max-width: 768px) {
  .popup-inner {
    width: 90%;
    height: 88vh; /* Use viewport height instead of percentage */
  }

  .closepopup {
    top: 530px;
    margin-left: -110px;
  }
}

@media screen and (max-width: 360px) {
  .popup-inner {
    width: 90%;
    height: 88vh; /* Use viewport height instead of percentage */
  }

  .closepopup {
    top: 580px;
    margin-left: -110px;
  }
}

.signup-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.signup-counter-number {
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
}

.signup-counter-text {
  font-size: 16px;
  color: #ffffff;
  margin: 10px 0 0;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Poppins-Bold";
}
