.privacy-policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
  }
  
  .privacy-policy-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
  }
  
  .privacy-policy-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
  }
  
  .section-heading {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 15px;
    color: black;
  }
  
  .section-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
  }
  
  .nested-list {
    margin-bottom: 10px;
    margin-left: 20px;
    color: black;
  }
  
  .nested-list li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .nested-list-heading {
    font-weight: bold;
    color: black;
  }
  